<div class="col">
    <figure class="figure">
    <%= image_tag image.picture.thumb.url, class: 'figure-img img-fluid rounded' %>
        <!-- <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" class="figure-img img-fluid rounded"> -->
        <figcaption class="figure-caption">
            <%= image.description %>.
            <%= link_to  'Edit', edit_image_path(image) %>
            <%= link_to  'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        </figcaption>
    </figure>
</div>